@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Stalemate&display=swap');

:root {
    --bgcolor: #0A0501;
    --textcolor: #0A0501;
    --listcolor: #CCAC92;
}

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: var(--listcolor);
    border-radius: 7px;
    
}

::-webkit-scrollbar-track{
    /* background-color: #CCAC92; */
    position: fixed;
    width: 10px;
}

#box {
    pointer-events: none;
}

.b1 {
    pointer-events: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50% , -50%);
    border: 2px solid #CCAC92;
    position: fixed;
    z-index: 50;
    /* transition: .1s; */
    
}

.listcolor {
    background-color: var(--listcolor);
}

.pointer {
    cursor: pointer;
}

.tirai {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor);
    /* background-image: url('./assets/image/tiraibg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    z-index: 20;
    
    transition: ease-in-out .8s;
}


.navpage {
    top: -100vh;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--bgcolor);
    background-image: url('./assets/image/tiraibg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    transition: all cubic-bezier(.91,0,.11,1) 1.8s;
    z-index: 40;

}

body {
    background-color: var(--bgcolor);
    width: 100vw;
    overflow-x: hidden;
    max-width: 100vw;
}


.h1 {
    color: #CCAC92;
    font-size: 89.76px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h2 {
    color: #CCAC92;
    font-size: 67.34px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h3 {
    color: #CCAC92;
    font-size: 50.52px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h4{
    color: #CCAC92;
    font-size: 37.9px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h5 {
    color: #CCAC92;
    font-size: 28.43px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h6 {
    font-size: 21.33px;
    color: #CCAC92;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.p {
    font-size: 16px;
    color: #CCAC92;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

i {
    color: var(--listcolor);
}

.title {
    font-family: "Stalemate", cursive;
    font-weight: 400;
}




@media screen and ( max-width: 500px ) {

    .h1 {
        font-size: 35.83px;
    }
    
    .h2 {
        font-size: 29.86px;
    }
    
    .h3 {
        font-size: 24.88px;
    }
    
    .h4{
        font-size: 20.74px;
    }
    
    .h5 {
        font-size: 17.28px;
    }
    
    .h6 {
        font-size: 14.4px;
    }
    
    .p {
        font-size: 12px;
    }
    
}